header {
  position: sticky;
  top: 0;
  padding: 2.2rem 0;
  width: 100%;
  background: rgba(15, 12, 27, 0.5);
  backdrop-filter: blur(20px);
  z-index: 10;
  .container {
    @include flexSpaceBetween;
    nav {
      @include flexSpaceBetween;
      max-width: 83.2rem;
      flex: 1;
      ul {
        @include flexTotalCenter;
        gap: 6.4rem;
      }
      .hamburger {
        margin-left: 2rem;
        display: none;
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
          background-color: white;
        }
      }
    }
  }
  .menu-mobile {
    position: absolute;
    top: 8rem;
    height: calc(100vh - 8rem);
    background-color: #0a0615;
    width: 100%;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.3s ease;
    padding: 4rem 1.5rem;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 4rem;
      li {
        .item-categorie {
          padding: 2rem 0;
          span {
            font-size: 2rem;
          }
          img {
            width: 3.2rem;
          }
        }
      }
    }
    .search {
      max-width: 100%;
      height: 6rem;
      input {
        font-size: 1.6rem;
      }
      button {
        height: 6rem;
        width: 6rem;
        img {
          width: 2.4rem;
        }
      }
    }
  }
  @include responsivo("laptop") {
    .container {
      nav {
        max-width: 75%;
      }
    }
  }
  @include responsivo("tablet") {
    .container {
      nav {
        max-width: 100%;
        justify-content: flex-end;
        ul {
          display: none;
        }
        .hamburger {
          display: block;
        }
      }
    }
  }
  @include responsivo("mobile") {
    .container {
      .logo {
        max-width: 13rem;
      }
      nav {
        form {
          display: none;
        }
        .hamburger {
          margin-left: 0;
          padding: 0;
        }
      }
    }
  }
}

.menu-opened {
  header {
    .menu-mobile {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
