header {
  position: sticky;
  top: 0;
  padding: 2.2rem 0;
  width: 100%;
  background: rgba(15, 12, 27, 0.5);
  backdrop-filter: blur(20px);
  z-index: 10;
  .container {
    @include flexSpaceBetween;
    nav {
      @include flexSpaceBetween;
      max-width: 83.2rem;
      flex: 1;
      ul {
        @include flexTotalCenter;
        gap: 6.4rem;
      }
      .hamburger {
        margin-left: 2rem;
        display: none;
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
          background-color: white;
        }
      }
    }
  }
  @include responsivo("laptop") {
    .container {
      nav {
        max-width: 75%;
      }
    }
  }
  @include responsivo("tablet") {
    .container {
      nav {
        max-width: 100%;
        justify-content: flex-end;
        ul {
          display: none;
        }
        .hamburger {
          display: block;
        }
      }
    }
  }
  @include responsivo("mobile") {
    .container {
      .logo {
        max-width: 13rem;
      }
      nav {
        form {
          display: none;
        }
        .hamburger {
          margin-left: 0;
          padding: 0;
        }
      }
    }
  }
}
