.s-detalhes-post {
  background-color: white;
  padding: 4.8rem 0 12rem;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    height: 34.8rem;
    background-color: $gray-01;
  }
  .container {
    .top {
      position: relative;
      z-index: 1;
      @include flexSpaceBetween;
      .breadcrumbs {
        @include flexTotalCenter;
        gap: 4rem;
        li {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            right: -2.5rem;
            width: 1rem;
            height: 1rem;
            background: url(../assets/svg/arrow-breadcrumb.svg) no-repeat center
              center;
            top: 0.4rem;
          }
          &:last-child {
            &::after {
              display: none;
            }
          }
          a {
            display: block;
            color: $gray-05;
            font-family: "Atyp BL Text", sans-serif;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 105%;
            transition: color 0.3s ease;
            img {
              transition: filter 0.3s ease;
              &:hover {
                filter: brightness(2);
              }
            }
            &:hover {
              color: white;
            }
          }
          span {
            color: #fff;
            font-family: "Atyp BL Text", sans-serif;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 105%;
          }
        }
      }
      .btn {
        @include flexTotalCenter;
        gap: 1.4rem;
        color: #fff;
        font-family: "Atyp BL Text", sans-serif;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 100%;
        transition: filter 0.3s ease;
        &:hover {
          filter: brightness(0.6);
        }
      }
    }
    .feature-info-post {
      position: relative;
      z-index: 1;
      margin-top: 4.8rem;
      margin-bottom: 8rem;
      .image {
        width: 100%;
        height: 47.2rem;
        border-radius: 0.8rem;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .box-info-post {
      position: relative;
      z-index: 1;
      border-radius: 0.8rem;
      background-color: #fff;
      box-shadow: 0px 24px 40px -8px rgba(16, 12, 28, 0.06);
      width: 100%;
      max-width: 100.8rem;
      padding: 4.2rem 7.2rem;
      margin: -18.6rem auto 0;
      .categorie {
        background: rgba(246, 122, 203, 0.15);
        padding: 0.6rem 10px;
      }
      h1 {
        margin-top: 2rem;
        margin-bottom: 2.8rem;
        color: $gray-01;
      }
      ul {
        @include flex-center;
        gap: 2.4rem;
        li {
          @include flex-center;
          gap: 0.8rem;
          position: relative;
          &:not(:first-child) {
            &::before {
              content: "";
              width: 0.4rem;
              height: 0.4rem;
              opacity: 0.3;
              background: $gray-05;
              display: inline-block;
              margin-right: 2.4rem;
            }
          }
          span {
            color: $gray-04;
            font-weight: 600;
            line-height: 150%;
            font-size: 1.4rem;
          }
        }
      }
    }
    .info-post-geral {
      margin-top: 8rem;
      @include flex(row, flex-start, center);
      .left-content {
        position: sticky;
        top: 10rem;
        flex: 1;
        max-width: 23.6rem;
        h6 {
          color: $gray-01;
          margin-bottom: 4rem;
        }
        ul {
          position: relative;
          padding-bottom: 4rem;
          margin-bottom: 4rem;
          @include flex(column, flex-start, center);
          gap: 1.6rem;
          li {
            a {
              display: flex;
              align-items: flex-start;
              &::before {
                content: "";
                width: 4px;
                height: 4px;
                display: inline-block;
                background-color: #9995a6;
                margin-top: 1.1rem;
                margin-right: 1.6rem;
                transition: all 0.1s ease;
              }
              span {
                color: $gray-04;
                font-size: 1.6rem;
                font-weight: 400;
                flex: 1;
                line-height: 150%;
                transition: all 0.1s ease;
              }
              &.active,
              &:hover {
                &::before {
                  background-color: $brand-pink;
                }
                span {
                  color: $gray-01;
                  font-weight: 500;
                }
              }
            }
          }
          &::after {
            content: "";
            width: 100%;
            height: 0.2rem;
            background: url(../assets/svg/line-topics.svg) no-repeat center
              center;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
        button {
          @include flexTotalCenter;
          gap: 1.6rem;
          color: $gray-01;
          font-family: "Atyp BL Text", sans-serif;
          font-size: 1.6rem;
          font-weight: 600;
          transition: color 0.3s ease;
          line-height: 100%;
          &:hover {
            color: $brand-pink;
          }
        }
      }
      .right-content {
        margin-left: 7.6rem;
        flex: 1;
        max-width: 80rem;
        .content-post {
          width: 100%;
          border-bottom: 2px solid hsla(255, 35%, 13%, 0.1);
          padding-bottom: 4rem;
          margin-bottom: 4rem;
          blockquote {
            margin-bottom: 4rem;
            border-left: 2px solid hsla(267, 69%, 39%, 0.15);
            padding-left: 2.4rem;
            p {
              color: $gray-03;
              font-family: "Atyp BL Text", sans-serif;
              font-size: 1.8rem;
              line-height: 175%;
              margin-bottom: 0;
            }
          }
          h2,
          h3,
          h4,
          h5,
          h6 {
            color: $gray-01;
            margin-bottom: 2.4rem;
          }
          p {
            color: $gray-03;
            font-family: "Atyp BL Text", sans-serif;
            font-size: 1.8rem;
            line-height: 175%;
            margin-bottom: 1.6rem;
            a {
              text-decoration: underline;
              transition: filter 0.3s ease;
              &:hover {
                filter: brightness(0.5);
              }
            }
          }
          ul {
            padding-left: 1.5rem;
            margin-bottom: 4rem;
            li {
              list-style: disc;
              color: $gray-03;
              font-family: "Atyp BL Text", sans-serif;
              font-size: 1.8rem;
              line-height: 175%;
              &:not(:last-child) {
                margin-bottom: 1.6rem;
              }
            }
          }
        }
        .share {
          @include flexSpaceBetween;
          strong {
            color: $gray-01;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 100%;
          }
          ul {
            @include flexTotalCenter;
            gap: 3.2rem;
          }
        }
      }
    }
  }
}

.posts-semelhantes {
  padding: 12rem 0;
  .container {
    .top {
      @include flexSpaceBetween;
      p {
        @include flexTotalCenter;
        gap: 1.6rem;
        color: #acb4bf;
        font-size: 1.6rem;
        line-height: 150%;
      }
    }
    .all {
      @include flexSpaceBetween;
      margin-top: 4rem;
    }
  }
}
