$brand-pink: #f67acb;
$brand-purple: #5b1fa6;
$brand-gradient: linear-gradient(
  255deg,
  #ff60c8 9.09%,
  #5b1fa6 102.28%,
  #7e3dce 102.28%
);
$gray-01: #050110;
$gray-02: #0f0c1b;
$gray-03: #3f3d49;
$gray-04: #57555f;
$gray-05: #9995a6;
